@media only screen and (max-width: 600px) {
    .card-container {
        width: 260px;
    }
    #google {
        float: left;
        padding-left: 0;
    }
    #apple {
        float: right;
        padding-right: 0;
    }
    .footer li {
        font-size: 14px;
    }
}
  