* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

@media only screen and (min-width: 786px) {
    .header {
        background-image: url(../img/HeaderBG.png);
        color: white;
    }
    .navbar {
        background: none !important;
        -webkit-box-shadow: none;
        justify-content: space-evenly;
        right: 200px;
    }
    .navbar-expand-lg .navbar-nav {
        gap: 80px;
    }
    .navbar-light .navbar-nav .nav-link {
        color: white;
    }
    .navbar-light .navbar-nav .nav-link.active {
        color: #FFBB00;
        display:inline-block;
        position:relative;      
    }
    .navbar-light .navbar-nav .nav-link.active::after {
        content:'';
        height:2px;
        width: 50%;
        background:#FFBB00;
        position:absolute;
        left:calc(25% - 10%);
        bottom:1px;     
    }
    .navbar button {
        color: #FFF;
        background-color: #FFBB00;
        border-color: #FFBB00;
    }
    .navbar button:hover {
        color: #FFBB00;
        background-color: none;
        border-color: #FFBB00;
    }
    .header img {
        left: 15%;
        top: 50px;
        position: relative;
    }
    .hero {
        padding-top: 50px;
        height: 800px;
        width: 70%;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    .hero div:nth-child(1) {
        padding-top: 150px;
        animation-duration: 3s;
        animation-name: slidein;
    }
    .hero h1 {
        font-weight: bold;
        font-size: 65px;
    }
    .hero p {
        font-weight: bold;
        font-size: 18px;
        width: 500px;
    }
    .hero-btns {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    .hero-btns h4 {
        padding-top: 10px;
    }
    .button {
        width: 40%;
        height: 50px;
        background: none;
        border: 2px solid #FFF;
        color: white;
        border-radius: 10px;
        font-weight: bold;
    }
    .button:hover {
        background-color: white;
        color: #FFBB00;
    }
    .play-button {
        background: none;
        background-image: url(../img/play-icon.png);
        width: 50px;
        height: 50px;
        border: none;
    }
    .play-button:hover {
        background-image: url(../img/Iconw.png);
    }
    .divider {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        margin: 0 auto;
        margin-top: 200px;
        margin-bottom: 200px;
    }
    .sectionOne {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
    }
    .sectionOne h6 {
        width: 100px;
        color: #FFBB00;
        background-color: rgba(255, 187, 0, 0.15);
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .sectionOne img {
        width: 40%;
    }
    .sectionOne div {
        width: 40%;
        padding-top: 100px;
    }
    .sectionTwo {
        padding-top: 300px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
    }
    .sectionTwo h6 {
        width: 100px;
        color: #FFBB00;
        background-color: rgba(255, 187, 0, 0.15);
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 20px;
    }
    .sectionTwo h1 {
        margin-top: 20px;
    }
    .sectionTwo p {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .sectionTwo img {
        width: 40%;
        height: 100%;
    }
    .sectionTwo div {
        width: 40%;
    }
    .featuresGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 30px;
    }
    .gridItem {
        width: 250px;
        display: flex;
    }
    .gridItem img {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        margin-top: 20px;
    }
    .gridItem div {
        margin-right: 30px;
    }
    .gridItem div h2 {
        width: 300px;
    }
    .gridItem div p {
        margin-top: 1px;
        width: 300px;
    }
    .sectionThree {
        padding-top: 150px;
    }
    .sectionThree h1 {
        text-align: center;
    }
    .sectionThree p {
        text-align: center;
    }
    .carousel-container {
        width: 1370px;
        margin: 50px auto;
        position: relative;
        padding-bottom: 100px;
      }
      
      .inner-carousel {
        width: 100%;
        height: 600px;
        overflow: hidden;
      }
      .track {
        display: inline-flex;
        height: 100%;
        transition: transform 0.2s ease-in-out;
      }
      .card-container {
        width: 275px;
        flex-shrink: 0;
        padding-right: 20px;
      }
      .card {
        width: 100%;
        height: 100%;
        background-position: center bottom;
        background-size: center;
        background-repeat: no-repeat;
        border-radius: 10px;
        background-image: url(../img/Carousel.png);
      }
      .nav button {
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        outline: none;
        border: 3px solid #FFBB00;
        cursor: pointer;
        color: #FFBB00;
      }
      .nav .prev {
        left: -30px;
        display: none;
      }
      .nav .prev.show {
        display: block;
      }
      .nav .next {
        right: -30px;
      }
      .nav .next.hide {
        display: none;
      }

    .stats {
        padding-top: 70px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }
    .stats h2 {
        color: #3096FE;
        font-weight: bold;
    }
    .stats h3 {
        font-size: 20px;
        font-weight: 100;
    }
    .sectionFour {
        background-image: url(../img/Bg.png);
        margin-top: 100px;
        padding-top: 50px;
        color: white;
        display: flex;
        justify-content: space-evenly;
    }
    .sectionFour div {
        width: 35%;
        margin-left: 250px;
        padding-top: 60px;
    }
    .sectionFour div img {
        margin-right: 20px;
    }
    .sectionFour img:nth-child(2){
        height: 100%;
        width: 20%;
    }
    .contact {
        text-align: center;
        margin-top: 100px;
    }
    .contact form {
        width: 70%;
        margin: 0 auto;
    }
    .contact input {
        border: none;
        background-color: #FBFBFB;
        border-radius: 10px;
    }
    .contact textarea {
        border: none;
        background-color: #FBFBFB;
        border-radius: 10px;
    }
    #name {
        width: 40%;
        margin-right: 10px;
        height: 50px;
    }
    #email {
        width: 40%;
        height: 50px;
    }
    #message {
        width: 81%;
        margin-top: 20px;
        height: 200px;
    }
    .contact button {
        margin-top:20px;
        margin-bottom: 100px;
        background-color: #3096FE;
        color: white;
        border: none;
        height: 50px;
        width: 200px;
        border-radius: 10px;
    }
    .footer {
        background-image: url(../img/footerbg.png);
        height: 300px;
        text-align: center;
    }
    .footer img {
        display: block;
        margin: 0 auto;
        padding-top: 30px;
    }
    .footer ul {
        color: white;
        padding-top: 30px;
    }
    .footer li {
        display: inline;
        margin-right: 50px;
    }
    .footer a {
        color: inherit;
        color: white;
    }
    .footer-socials {
        margin: 0 auto;
        width: 10%;
        display: flex;
        justify-content: space-evenly;
    }   
    .footer-socials i {
        text-align: center;
        padding-top: 7px;
        width: 30px;
        height: 30px;
        background-color: #5DADFE;
        border-radius: 10px;
    } 
    #mobileLogo {
        display: none;
    }
    #break {
        display: none;
    }

    @keyframes slidein {
        from {
          margin-left: 100%;
          width: 80%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }
}